{% extends 'partials/base.html' %}
{% load static %}
{% block base %}
    <main>
        <div class="caixa">
            {% if cards %}
            {% for filme in cards %}
            <div>
                <a href="{% url 'about' filme.id %}">
                    <img src="{% static 'img/'%}{{ filme.foto }}" alt="">
                </a>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </main>

    <script src="script.js"></script>
{% endblock base %}