{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Flix</title>
</head>
<body>
    <header>
        <div>
            <h1>
                GuiFlix
            </h1>
        </div>
    </header>
    <main>
        <div class="caixa">
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
        </div>

        <div class="caixa">
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/bluelock.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/onepiece.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/jjk.webp'%}" alt=""></div>
            <div><img src="{% static 'img/Naruto.jpg'%}" alt=""></div>
            <div><img src="{% static 'img/demonslayer.jpg'%}" alt=""></div>
        </div>
    </main>
    <footer>
        &copy GuiFlix 2023
    </footer>

    <script src="script.js"></script>
</body>
</html>